body {
  padding-top: 100px;
  background-color: #000000;
  background-image: url("../img/background3.jpg");
  background-size: 1480px 1224px;
  background-repeat: repeat;
  margin-top: 20%;
  margin-bottom: 20%;
  height: 80%;
  width: 80%;
  margin: auto;



}

.topBar{
  background-color: #000000;
  text-align: center;
}

.container {
  padding-left: 20%;
  padding-right: 20%;
  margin: auto;
  background-color: #AED6F1
}

.jumbotron {
  margin-top: 20px;
  text-align: center;
}

img {
  width: 20px;
  height: 20px;
}

.thank-you {
  text-align: center;
  max-width: 400px;
  margin: auto;
}
