body {
  background-color: #E5FCF6;

}
.container {
  padding-left: 20%;
  padding-right: 20%;
  margin: auto;
  background-color: #AED6F1
}

.jumbotron {
  margin-top: 20px;
  text-align: center;

}

img {
  width: 20px;
  height: 20px;
}

ul#unorderedList  {
border: 1px solid black;
}
#linkList li a:unorderedList {
   color: red;
}
